{% extends 'base.html' %}
{% load bootstrap_tags %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css" media="all" rel="stylesheet" />
<link href="{{STATIC_URL}}froala_editor/css/froala_editor.min.css" type="text/css" media="all" rel="stylesheet" />
<link href="{{STATIC_URL}}froala_editor/css/froala_style.min.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="{{STATIC_URL}}froala_editor/js/froala_editor.min.js"></script>
{% block content %}
<form id="post_form" method="post" action="/add_post/" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.media }}

	
	{{form | as_bootstrap}}

	 <input type="submit" name="submit" value="Create Post">
	</form>
	{% endblock %}