{% extends 'base.html'%}
{% load staticfiles %}


<style>
{% block style %}
.btn-custom1{
  float:left;
  margin:5px;
}
.btn-custom1:hover {
  background-color: #6caddf;
}


{% endblock %}
</style>



{% block content %}

	<div>

  <div id="Space" >
  <ul>
      <li role="presentation" class="sort"><a href="/?sort=score&page=1" style="text-decoration:none;">인기순</a></li>

    <li role="presentation" class="date"><a href="/?sort=date&page=1" style="text-decoration:none;">최신순</a></li>

  </ul>
</div>

	<div class="row placeholders">

<div class="col-sm-2">
  <div id="guide-container">
  <p id="bar"> Best of Ebagu</p>

  <ul class="position">
    <button type="button" class="btn btn-custom1"><a href="#"><span><i class="fa fa-music"></i></span> Music</a></button>
    <button type="button" class="btn btn-custom1"><a href="#"><span><i class="fa fa-music"></i></span> Music</a></button>
    <button type="button" class="btn btn-custom1"><a href="#"><span><i class="fa fa-music"></i></span> Music</a></button>
    <button type="button" class="btn btn-custom1"><a href="#"><span><i class="fa fa-music"></i></span> Music</a></button>
    <button type="button" class="btn btn-custom1"><a href="#"><span><i class="fa fa-music"></i></span> Music</a></button>
  </ul>
            {{favs}}


</div>
</div>

<div class="col-sm-7">

<table class="table">
    {% if posts %}
      {% for post in posts %}
      <tr class="cell">

<td class="vert-align">
        <div>
<a href="/post/{{ post.slug }}/vote?is_up=1" class="vote">
 <span class="vote"><i class="fa fa-arrow-up"></i></span></a><br>

<span class="number"><h4 id="vote_count_{{ post.slug }}">{{ post.get_vote_count }}</h4></span>     <br>

<a href="/post/{{ post.slug }}/vote?is_up=0"  class="vote">
<span class="vote"><i class="fa fa-arrow-down"></i></span></a>
        </div>
</td>


<td class="vert-align">
  {% if post.url %}
<h4 id="line"><a href="{{ post.url }}" style="margin-left: 15px; text-decoration:none;"> <img src="{{post.image}}" height="85" width="85"/> <span id="title-font">{{ post.title }}</span>
</a><span style="margin-left: 15px;" class="domain">
({{ post.domain }})</span><span class="discuss"><a href="{% url 'post' post.slug %}" class="btn btn-default btn-sm">토론장 입장
</a></span><br><span class="post-info">{{ post.pub_date | timesince }}전/<a href="{% url 'userena_profile_detail' post.moderator.username %}">{{ post.moderator.username }}</a>작성/<i class="fa fa-eye"></i>{{post.views}}/<a href="/category/{{post.category}}">{{post.category}}</a></span>
{% else %}
<h4><a href="{% url 'post' post.slug %}" style="margin-left: 15px;">{{ post.title }}</a><span style="margin-left: 15px; "class="domain">({{ post.domain }})</span></h4>
{% endif %}



</td>
        </tr>
        {% endfor %}
    {% else %}
        <tr><td><div class="alert alert-info" role="alert">
            <h3><a href="{% url 'post-add' %}">첫 글을 가장 먼저 적어보세요!</a></h3>
        </div></td></tr>
    {% endif %}
</table>

</div>
		<div class="col-sm-3">
			<div class="row">
				<a href="/add_category/"><button type="button" class="btn btn-block btn-customm">커뮤니티 만들기</button>
</a><br />
			<a href="/add_post/"><button type="button" class="btn btn-block btn-custom">나도 한번 올려봐</button></a>
				
                <hr>
        <p id="ad">사이트 소개 </p>
      <a href="/search"><button type="button" class="btn btn-block btn-custommm">커뮤니티 찾기</button>

</a>

<h3>Search</h3>
{% csrf_token %}
<input type="text" id="search" name="search" onkeyup="handle_keyup()"/>

<ul id="search-results">

</ul>
<hr>
<div id="ad1">
</div>

     
            
		</div>
	</div>
		</div>
    </div>
		{% include 'main/paginator.html' %}
        {% include 'footer.html' %}

{%endblock%}