{% extends 'base.html'%}

{% block content %}


<div class="panel panel-default">
    <div class="panel-heading">
    <table class="post">
        <tr>
        	<td class="vert-align"><div>
                            <a href="/post/{{ post.slug }}/vote?is_up=1" class="vote">
 <span style="font-size:1.5em;" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
                <br>
                <a href="/post/{{ post.slug }}/vote?is_up=0"  class="vote">
            <span style="font-size:1.5em;" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
            </div></td>

        <td>
            <h4 id="vote_count_{{ post.id }}">{{ post.get_vote_count }}</h4>
        </td>

        <td>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <ol class="breadcrumb">
                <li><span>{{ post.moderator.username }}</span></li>
                <li><span class="time_presentation">{{ post.pub_date | date }}</span></li>
                <li><span>조회수 {{ post.views }}</span></li>
            </ol>
        </td></tr>
    </table>
    </div>
    <div class="panel-body">
        {{ post.content }}


<div id = "a">
<img src="{{post.image}}" />
</div>



    </div>
    

</div>

	<div id="disqus_thread"></div>

<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//ebagu.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>



    {% include 'main/paginator.html' %}
    {% include 'footer.html' %}



{% endblock %}

