{% extends 'base.html'%}
{% load embed_video_tags %}

{% block content %}




<div class="panel panel-default">
    <div class="panel-heading">
    <table class="post">
        <tr>
        <td class="vert-align">
        <div>
<a href="/post/{{ post.slug }}/vote?is_up=1" class="vote">
 <span class="vote"><i class="fa fa-arrow-up"></i></span></a><br>

<span class="number"><h4 id="vote_count_{{ post.slug }}">{{ post.get_vote_count }}</h4></span>     <br>

<a href="/post/{{ post.slug }}/vote?is_up=0"  class="vote">
<span class="vote"><i class="fa fa-arrow-down"></i></span></a>
        </div>
</td>

        <td>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
{% video post.video as my_video %}
 
    <img src="{{ my_video.thumbnail }}" /> 

  {% video my_video "large" %}
{% endvideo %}
            <ol class="breadcrumb">

                <li><span>{{ post.moderator.username }}</span></li>
                <li><span class="time_presentation">{{ post.pub_date | date }}</span></li>
                <li><span>조회수 {{ post.views }}</span></li>
            <i class="fa fa-eye"></i>{{post.views}}/<a href="/category/{{post.category}}">
            </ol>
        </td></tr>

    </table>
    </div>
    <div class="panel-body">
        {{ post.content|safe }}

      <img src="{{post.thumbnail}}" />
    </div>
    

</div>


<form id="commentForm" class="form-horizontal"
              action="/post/comment/"
              data-parent-type="post"
              data-parent-id="{{ post.slug }}">
            <fieldset>

                <div class="form-group comment-group">
                    <label for="commentContent" class="col-lg-2 control-label">New comment</label>

                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="commentContent"></textarea>
                        <span id="postResponse" class="text-success" style="display: none"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>


        {% include 'comments.html' %}



    {% include 'main/paginator.html' %}
    {% include 'footer.html' %}



{% endblock %}

