#Space {
  background-color:#F8F8FF;
  padding-left: 25px;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right:200px;
  text-align: center;
}
#Space li {
  display: inline;
  margin-left: 10px;
  padding-bottom: 11px;
}

#Space li:hover {
  border-bottom: 5px solid #6495ED;
}
#Space li a:active{
  color:#fcc01e;
  font-weight: bold;
}
#Space li a{
  color:#00304e;
  font-weight: bold;
}



.col-sm-2 {
  width:180px;
  padding:13px 22px;
}

.col-sm-2 .tag-name{
  text-align: center;
  font-weight: bold;
margin-top: -10px;
}
.col-sm-2 .tag-box{
    border: 1px solid #eaebec;
    margin-top: 10px;
    padding: 10px;
    }
h5 {
  font-weight: bold;
  text-align: center;

}
.col-sm-2 #following-tag-box #connections{
    border: 1px solid #eaebec;
    margin-top: 10px;
    padding: 5px;
}

.col-sm-2 #following-tag-box #connections #following-link{

    margin-top: 10px;
    display:inline-block;

}

.col-sm-3{
  margin-left: 20px;
  width: 350px;
}


#guide-container{
  box-sizing: border-box;

}
body{
  background-color:#F8F8FF;
}
.col-sm-7 {
  background-color: #FFFFFF;

  width:970px;
  padding:13px 22px;
}

/*------------------------------------------------------------*/

.btn-custom {
  font-size: 1.2em;
  font-family: sans-serif;
  color:#333;
    text-shadow:1px 1px #fff;
    text-decoration: none;
    display:inline-block; 
    padding:0.5em 1.75em 0.5em 1em;
    border-radius: 0.25em;
    background: #f8f8f8;
    border:1px solid #ccc;
    border-right:0.25em solid #00558D; /* blue stripe */
    position: relative;
    margin:0 0 1px; 
}

.btn-custom:before, .btn-custom:after {
    content:'';
    display:block;
    position: absolute;
}

/* Add Stripes */
.btn-custom:before {
    width:0.25em;
    height: 100%;
    background:#FBB03B; /* yellow stripe */ 
    border-left:0.25em solid #D4145A; /* red stripe */ 
    border-right:0.25em solid #00A99D; /* green stripe */ 
    top:0;
    right:0;
}

/* Add Hightlights */
.btn-custom:after {
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0.25em;
    padding-left: 0.25em;
    box-shadow: inset 1px 1px 0px rgba(255,255,255,0.5), inset -1px -1px 0 rgba(0,0,0,0.1);

background: -moz-linear-gradient(top,  rgba(255,255,255,0.35) 0%, rgba(255,255,255,0.2) 49%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.35)), color-stop(49%,rgba(255,255,255,0.2)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.1)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.2) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.1) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.2) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.1) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.2) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.1) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0.35) 0%,rgba(255,255,255,0.2) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ffffff', endColorstr='#1a000000',GradientType=0 );

}


/* Animate - Fade */
.btn-custom, .btn-custom:before {
    -webkit-transition-property: background, border;
    -webkit-transition: 0.1s ease-in;
    -moz-transition-property: background, border;
    -moz-transition: 0.1s ease-in;
    -o-transition-property: background, border;
    -o-transition: 0.1s ease-in;
    transition-property: background, border;
    transition: 0.1s ease-in;

}

/* Hover / Focus */
.btn-custom:hover, .btn-custom:focus  {
    background: #fff;
}

.btn-custom:hover {
    border-right:0.25em solid #09c;
}

.btn-custom:hover:before {
    background:#fc6; /* yellow stripe */ 
    border-left:0.25em solid #f06; /* red stripe */ 
    border-right:0.25em solid #0cc; /* green stripe */ 
}

.btn-custom:hover:after {
background: -moz-linear-gradient(top,  rgba(255,255,255,0.25) 0%, rgba(255,255,255,0.1) 49%, rgba(255,255,255,0) 50%, rgba(0,0,0,0.05) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.25)), color-stop(49%,rgba(255,255,255,0.1)), color-stop(50%,rgba(255,255,255,0)), color-stop(100%,rgba(0,0,0,0.05)));
background: -webkit-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.05) 100%);
background: -o-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.05) 100%);
background: -ms-linear-gradient(top,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.05) 100%);
background: linear-gradient(to bottom,  rgba(255,255,255,0.25) 0%,rgba(255,255,255,0.1) 49%,rgba(255,255,255,0) 50%,rgba(0,0,0,0.05) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#0d000000',GradientType=0 );

}

/* Active */
.btn-custom:active {
    margin:1px 0 0; 

}
/*------------------------------------------------------------------------*/
.col-sm-3 .btn-custom {
  margin: 2px;
}
.col-sm-3 .btn-custom #one{
  color:red;
  font-family:'Indie Flower', cursive;
}


.table #cell .vert-align a .glyphicon{
  font-size: 1em;
  display:inline-block;
  padding: 0em;
}
h4{
  font-size: 15px;
}




div[class^="depth-"], div[class*="depth-"] {
    padding-left: 10px;
}


.table tr>td.vert-align{
    vertical-align: middle;
    padding: 2px 0 2px 0;
    border-bottom: 1px solid #eaebec;
}


#line{
  padding:5px;
  margin: auto;
}


.domain{
font-size: 12px;
font-family: 'Itim', cursive;
}

#title-font{
  font-size: 23px;
  font-family: 'starjedi';
  font-weight: normal;

}

.post-info{
  float:right;
  font-size: 12px;
  font-family: 'Itim', cursive;
}

.btn-warning{
  background:none;
  border:2px solid yellow;
  color: #33a6cc;
  float:right;
  font-family: 'Nanum Myeongjo', serif;
}
.btn-warning:hover{
  background:none;
  color:#33a6cc;
}

}
#ad{
    border:1px solid #F8F8FF;
    height: 150px;
    background: url(https://images.unsplash.com/photo-1448814100339-234df1d4005d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=441656cf828e87a01646c681895e8495);
    background-size: cover;
    background-position: center; 

}

#ad1{
    border:1px solid #F8F8FF;
    height: 250px;
    background: url(https://images.unsplash.com/photo-1439556838232-994e4c0d3b7c?crop=entropy&fit=crop&fm=jpg&h=825&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1550);
    background-size: cover;
    background-position: center; 

}

.vote{
  font-size:1.2em;
  color:grey;
  
}
.clicked {
  background-color: yellow;
}
.number{
  background-color: yellow;
}

/*-------------------------------------------------------------------------*/
