

#Space {
  background-color:#F8F8FF;
  padding-left: 25px;
  margin-top: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}
#Space li {
  display: inline;
  margin-left: 10px;
  padding-bottom: 11px;
}

#Space li:hover {
  border-bottom: 5px solid #6495ED;
}


.col-sm-2 {
  width:200px;
  padding:13px 22px;
}
#guide-container{
  box-sizing: border-box;

}
body{
	background-color:#F8F8FF;
}
.col-sm-7 {
	background-color:	#FFFFFF;
}



.btn-custom {
  background-color: hsl(36, 100%, 40%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffad32", endColorstr="#cc7a00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffad32), to(#cc7a00));
  background-image: -moz-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -ms-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffad32), color-stop(100%, #cc7a00));
  background-image: -webkit-linear-gradient(top, #ffad32, #cc7a00);
  background-image: -o-linear-gradient(top, #ffad32, #cc7a00);
  background-image: linear-gradient(#ffad32, #cc7a00);
  border-color: #cc7a00 #cc7a00 hsl(36, 100%, 35%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  -webkit-font-smoothing: antialiased;
}
.btn-customm {
  background-color: hsl(0, 100%, 82%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fecccc", endColorstr="#fea3a3");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#fecccc), to(#fea3a3));
  background-image: -moz-linear-gradient(top, #fecccc, #fea3a3);
  background-image: -ms-linear-gradient(top, #fecccc, #fea3a3);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fecccc), color-stop(100%, #fea3a3));
  background-image: -webkit-linear-gradient(top, #fecccc, #fea3a3);
  background-image: -o-linear-gradient(top, #fecccc, #fea3a3);
  background-image: linear-gradient(#fecccc, #fea3a3);
  border-color: #fea3a3 #fea3a3 hsl(0, 100%, 80%);
  color: #333 !important;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.13);
  -webkit-font-smoothing: antialiased;
}
.btn-custommm {
  background-color: hsl(76, 85%, 38%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bbee2f", endColorstr="#87b30e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#bbee2f), to(#87b30e));
  background-image: -moz-linear-gradient(top, #bbee2f, #87b30e);
  background-image: -ms-linear-gradient(top, #bbee2f, #87b30e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbee2f), color-stop(100%, #87b30e));
  background-image: -webkit-linear-gradient(top, #bbee2f, #87b30e);
  background-image: -o-linear-gradient(top, #bbee2f, #87b30e);
  background-image: linear-gradient(#bbee2f, #87b30e);
  border-color: #87b30e #87b30e hsl(76, 85%, 33.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
  -webkit-font-smoothing: antialiased;
}

.text-align-center {
	text-align: center;
}

div[class^="depth-"], div[class*="depth-"] {
    padding-left: 10px;
}


table.thread td {
	padding-left: 5px;
  padding-right: 5px ;
}

.table tr>td.vert-align{

    vertical-align: middle;
    padding: 4px 0 4px 0;
    border-bottom: 1px solid #eaebec;
}


#line{
  padding:5px;
  margin: auto;
}


.col-sm-2 #guide-container #bar{
font-family: 'Indie Flower', cursive;
font-size: 15px;
font-weight: normal;
border:1px solid #F8F8FF;
text-align: center;
}
.domain{
font-size: 12px;
font-family: 'Itim', cursive;
}

#title-font{
  font-size: 23px;
  font-family: 'starjedi';
  font-weight: normal;

}

.post-info{
  float:right;
  font-size: 12px;
  font-family: 'Itim', cursive;
}

.discuss{
  float:right;
  background-color:#ed174f;
font-family: 'Nanum Myeongjo', serif;

}

.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eb675e), color-stop(1, #e4685d));
  background:-moz-linear-gradient(top, #eb675e 5%, #e4685d 100%);
  background:-webkit-linear-gradient(top, #eb675e 5%, #e4685d 100%);
  background:-o-linear-gradient(top, #eb675e 5%, #e4685d 100%);
  background:-ms-linear-gradient(top, #eb675e 5%, #e4685d 100%);
  background:linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb675e', endColorstr='#e4685d',GradientType=0);
  background-color:#eb675e;
}
.myButton:active {
  position:relative;
  top:1px;
}

}

#ad{
    border:1px solid #F8F8FF;
    height: 150px;
    background: url(https://images.unsplash.com/photo-1448814100339-234df1d4005d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=441656cf828e87a01646c681895e8495);
    background-size: cover;
    background-position: center; 

}

#ad1{
    border:1px solid #F8F8FF;
    height: 250px;
    background: url(https://images.unsplash.com/photo-1439556838232-994e4c0d3b7c?crop=entropy&fit=crop&fm=jpg&h=825&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1550);
    background-size: cover;
    background-position: center; 

}

.vote{
  font-size:1.2em;
  color:grey;
  
}
.clicked {
  background-color: yellow;
}
.number{
  background-color: yellow;
}
