
.navbar-primary .navbar { 
	background:#000000; 
	border-bottom:1px solid #ffff00;
}

.navbar-primary .navbar .navbar-brand{
	color:#ffff00;
	font-family: 'Montserrat', sans-serif;

}

.btn-md {
		padding-left: 2px;
        padding-right: 2px;
        padding-top:2px;
        padding-bottom: 2px;
        margin-left: -24px;

}

.btn-default{
	color:#000000;
	background-color: #FFFF00;
}
.btn-primary{
	color:#000000;
	background-color: #FFFF00;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active{
    background: #ffb3b3;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active{
    background: #7FFFD4;

}

