Django==1.8.4
Pillow==3.0.0
Unidecode==0.04.18
argparse==1.2.1
django-forms-bootstrap==3.0.1
django-guardian==1.3.2
django-userena==1.4.1
django-uuslug==1.1.6
easy-thumbnails==2.2.1
html2text==2014.12.29
python-slugify==1.1.4
six==1.10.0
wsgiref==0.1.2
