{% load staticfiles %}
    <script src="{% static 'js/ajax.js' %}"></script>

<!DOCTYPE html>
<html lang = "ko">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="Ebagu.net">
	    <meta name="author" content="YG">

	    <title>Ebagu- {% block title %}인터넷의 시작과 끝{%endblock%} </title>
	  {% include 'head_css.html' %}

    
      <style>
      {% block style %}{% endblock %}
      </style>


	</head>

	<body>
  {% include 'navbar.html' %}

  {% block jumbotron %}
          
            {% endblock %}

     
  <div class="container">
            

          
            {% block content %}

            {% endblock %}
              

    </div> <!-- /container -->



    {% include "javascript.html" %}


  </body>
	
	
</html>