{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}

<form action="" enctype="multipart/form-data" method="post">
  <ul id="box-nav">
    <li class="first"><a href="{% url 'userena_profile_detail' user.username %}"><span>{% trans '프로필 보기' %}</span></a></li>
    <li class="selected"><a href="{% url 'userena_profile_edit' user.username %}">{% trans "프로필 고치기" %}</a></li>
    <li><a href="{% url 'userena_password_change' user.username %}">{% trans "비밀번호 변경" %}</a></li>
    <li class="last"><a href="{% url 'userena_email_change' user.username %}">{% trans "이메일 변경" %}</a></li>
  </ul>
  {% csrf_token %}
  <fieldset>
    <legend>{% trans "프로필 고치기" %}</legend>
    {{ form.as_p }}
  </fieldset>
  <input type="submit" value="{% trans "수정하기" %}" />
</form>
{% endblock %}
